<mat-toolbar>
    <div>
      <button mat-fab routerLink='/contact/add'>
        <mat-icon>note_add</mat-icon>
      </button>
    </div>&nbsp;
    <span>Contact Management</span>
    <span class="example-spacer"></span>
    <div class="form-group has-search">
      <span class="fa fa-search form-control-feedback">
        <mat-icon matSuffix>search</mat-icon>
      </span>
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </mat-toolbar>
<div>
    <mat-card class="card">  
        <div class="container">
         
              <mat-icon  routerLink='/contact' class="iconsize">keyboard_backspace</mat-icon>
            <div class="txtcenter">
                <img *ngIf="contactform.gender==2" src="assets/image/female.png">
                <img *ngIf="contactform.gender==1" src="assets/image/male.png">
             <div> 
                <mat-icon [routerLink]="['/contact/edit',id]" class="iconsize">edit</mat-icon>
                <mat-icon class="iconsize"[routerLink]="['/contact/clone',id]">file_copy</mat-icon>
                <mat-icon class="iconsize" (click)="delete(id)">delete</mat-icon>
             </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h1>Name</h1>
                </div>
                <div class="col-md-7">
                    <h2>{{contactform.cname}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h1>Email</h1>
                </div>
                <div class="col-md-7">
                    <h2>{{contactform.email}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h1>Phone</h1>
                </div>
                <div class="col-md-7">
                    <h2>{{contactform.phone}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <h1>About</h1>
                </div>
                <div class="col-md-7">
                    <h2>{{contactform.comments}}</h2>
                </div>
            </div>
        </div>
    </mat-card>
</div>