.txtcenter{
    text-align: center;
}
.h1{
    color: #425664;
  }
  h2,h3,h4,h5,h6,p{
    color:#959a9e;
    font-weight: bold;
  }
.mat-fab.mat-accent {
    background-color: #425664;
     color: white; 
}
.right{
    float: right;
}
img{
    width: 25%;
}
.card{
    width: 60%;
    margin: 5% 20% 5% 20%;
    border-radius: 3%;
}
::ng-deep .mat-toolbar {
    background-color: #425664;
    color: white;
    padding: 3% !important;
  }
  
  ::ng-deep .mat-fab.mat-accent {
    background-color: white;
    color: #425664;
  }
  ::ng-deep  .mat-icon{
width:7%;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .iconsize {
    margin:10px;
    font-size: 24px;
    color: #425664;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  button {
    width:7%;
    color: white;
    background-color: #425664;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(68, 123, 185, 0.2);
  
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .contactimg {
    padding-top: 7%;
  }
  
  .txtcenter {
    text-align: center;
  }
  
  .themecolor {
    color: #425664;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: #959a9e
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .txtcenter {
    text-align: center;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    padding-top: 5px
  }
  
  .has-search .form-control {
    padding-left: 2.375rem;
  }