<mat-toolbar>
  <div>
    <button mat-fab (click)="addcontacts()">
      <mat-icon>note_add</mat-icon>
    </button>
  </div>&nbsp;
  <span>Contact Management</span>
  <span class="example-spacer"></span>
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback">
      <mat-icon matSuffix>search</mat-icon>
    </span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
</mat-toolbar>
<!-- Add Contact Design -->
<div *ngIf="!contactstatus && !editcontact && addcontact">
  <div class="container contactimg">
    <div class="row ">
      <div class="col-md-6">
        <img class="contactimg" src="assets/image/contact.jpg" style="width: 100%;" alt="contact">
      </div>
      <div class="col-md-6">
        <mat-card class="card txtcenter">
          <mat-card-title>New Contact</mat-card-title>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="addcontactform.cname" name="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="addcontactform.phone" name="phone">
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>EMAIL</mat-label>
            <input matInput [(ngModel)]="addcontactform.email" name="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>About</mat-label>
            <textarea matInput [(ngModel)]="addcontactform.comments" name="commments"></textarea>
          </mat-form-field>
          <mat-radio-group name="flavors" [(ngModel)]="addcontactform.gender">
            <mat-radio-button class="mb-2" value="1" checked="true">Male </mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="2">Female</mat-radio-button>
          </mat-radio-group>
          <br>
          <button mat-raised-button class="pl-3" (click)="onsubmit('new')">ADD</button>&nbsp;
          <button mat-raised-button (click)="showcontact()">CANCEL</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!-- contact list design -->
<div class="container" *ngIf="contactstatus && !editcontact && !addcontact">
  <div class="row" *ngIf="contactdetails">
    <div class="col-md-3 pt-4" *ngFor="let item of contactdetails">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar>
            <img *ngIf="item.gender==2" src="assets/image/female.png">
            <img *ngIf="item.gender==1" src="assets/image/male.png">
          </div>
          <mat-card-title class="themecolor" [innerHTML]="item.cname"></mat-card-title>
          <mat-card-subtitle style="color: green;" *ngIf="item.status=='active'">Active</mat-card-subtitle>
          <mat-card-subtitle style="color: red;" *ngIf="item.status=='inactive'">Inactive</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h4><b>Email:</b>{{item.email}}</h4>
          <h4><b>Ph:</b>{{item.phone}}</h4>
        </mat-card-content>
        <mat-card-actions>
          <mat-icon class="iconsize" (click)="openDialog(item.id)">view_list</mat-icon>
          <mat-icon (click)="edituser(item.id)" class="iconsize">edit</mat-icon>
          <mat-icon class="iconsize" (click)="clonecontact(item.id)">file_copy</mat-icon>
          <mat-icon class="iconsize" (click)="delete(item.id)">delete</mat-icon>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
<!-- Edit contact design -->
<div *ngIf="!contactstatus && editcontact && !addcontact">F
  <div class="container">
    <div class="row contactimg">
      <div class="col-md-6">
        <img class="contactimg" src="assets/image/contact.jpg" style="width: 100%;" alt="contact">
      </div>
      <div class="col-md-6">
        <mat-card class="card txtcenter">
          <mat-card-title>Edit {{contactform.cname}}</mat-card-title>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="contactform.cname" name="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="contactform.phone" name="phone">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>EMAIL</mat-label>
            <input matInput [(ngModel)]="contactform.email" name="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>About</mat-label>
            <textarea matInput [(ngModel)]="contactform.comments" name="commments"></textarea>
          </mat-form-field>
          <mat-radio-group name="gender" [(ngModel)]="contactform.gender" *ngIf="contactform.gender==1">
            <mat-radio-button class="mb-2" value="1" checked>Male</mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="2">Female</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group name="gender" [(ngModel)]="contactform.gender" *ngIf="contactform.gender==2">
            <mat-radio-button class="mb-2" value="1">Male </mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="2" checked>Female</mat-radio-button>
          </mat-radio-group>
          <br>
          <mat-radio-group name="status" [(ngModel)]="contactform.status" *ngIf="contactform.status=='active'">
            <mat-radio-button class="mb-2" value="active" checked>Active</mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="inactive">Inactive</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group name="status" [(ngModel)]="contactform.status" *ngIf="contactform.status=='inactive'">
            <mat-radio-button class="mb-2" value="active">Active</mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="inactive" checked>Inactive</mat-radio-button>
          </mat-radio-group><br>
          <button mat-raised-button class="pl-3" (click)="onsubmit('edit')">ADD</button>&nbsp;
          <button mat-raised-button (click)="showcontact()">CANCEL</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<!--Clone a contact-->
<div *ngIf="!contactstatus && !editcontact && !addcontact">
  <div class="container">
    <div class="row contactimg">
      <div class="col-md-6">
        <img class="contactimg" src="assets/image/contact.jpg" style="width: 100%;" alt="contact">
      </div>
      <div class="col-md-6">
        <mat-card class="card txtcenter">
          <mat-card-title>Clone {{clonecontactform.cname}}</mat-card-title>
          <mat-form-field class="example-full-width">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="clonecontactform.cname" name="name">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Phone</mat-label>
            <input matInput [(ngModel)]="clonecontactform.phone" name="phone">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>EMAIL</mat-label>
            <input matInput [(ngModel)]="clonecontactform.email" name="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>About</mat-label>
            <textarea matInput [(ngModel)]="clonecontactform.comments" name="commments"></textarea>
          </mat-form-field>
          <mat-radio-group name="gender" [(ngModel)]="clonecontactform.gender" *ngIf="clonecontactform.gender==1">
            <mat-radio-button class="mb-2" value="1" checked>Male</mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="2">Female</mat-radio-button>
          </mat-radio-group>
          <mat-radio-group name="gender" [(ngModel)]="clonecontactform.gender" *ngIf="clonecontactform.gender==2">
            <mat-radio-button class="mb-2" value="1">Male </mat-radio-button>&nbsp;
            <mat-radio-button class="mb-2" value="2" checked>Female</mat-radio-button>
          </mat-radio-group>
          <br>
          <button mat-raised-button class="pl-3" (click)="onsubmit('clone')">ADD</button>&nbsp;
          <button mat-raised-button (click)="showcontact()">CANCEL</button>
        </mat-card>
      </div>
    </div>
  </div>
</div>