.txtcenter{
    text-align: center;
}
.h1{
    color: #425664;
  }
  h2,h3,h4,h5,h6,p{
    color:#959a9e;
    font-weight: bold;
  }
.mat-fab.mat-accent {
    background-color: #425664;
     color: white; 
}