<mat-toolbar>
    <div>
      <button mat-fab routerLink='/new'>
        <mat-icon>note_add</mat-icon>
      </button>
    </div>&nbsp;
    <span>Contact Management</span> 
  </mat-toolbar>
  <div>
    <div class="container contactimg">
      <div class="row ">
        <div class="col-md-6">
          <img class="contactimg" src="assets/image/contact.jpg" style="width: 100%;" alt="contact">
        </div>
        <div class="col-md-6">
          <mat-card class="card txtcenter">
            <mat-card-title>New Contact</mat-card-title>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput [(ngModel)]="contactform.cname" name="name">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Phone</mat-label>
              <input matInput [(ngModel)]="contactform.phone" name="phone">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>EMAIL</mat-label>
              <input matInput [(ngModel)]="contactform.email" name="email">
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>About</mat-label>
              <textarea matInput [(ngModel)]="contactform.comments" name="commments"></textarea>
            </mat-form-field>
            <mat-radio-group name="flavors" [(ngModel)]="contactform.gender">
              <mat-radio-button class="mb-2" value="1" checked="true">Male </mat-radio-button>&nbsp;
              <mat-radio-button class="mb-2" value="2">Female</mat-radio-button>
            </mat-radio-group>
            <br>
            <button mat-raised-button class="pl-3" (click)="onsubmit()">ADD</button>&nbsp;
            <button mat-raised-button routerLink='/list'>CANCEL</button>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  